{% extends "base_bootstrap.html" %}
{% block title %}MESSAGE{% endblock %}
{% block content %}

	<div class="span10">
		<div class="container">

			<section id="messages">
				<div class="page-header">
					<h1>Contacts</h1>
				</div>
				<form method="POST">
					<div class="input-append">
						<input class="span4" id="search" name="search" size="16" type="text" value="{{ search }}"><input class="btn" type="submit">Go!</button>
					</div>
					{% csrf_token %}
				</form>

				<table class="table table-bordered table-hover">
					<legend>List</legend>
					<tr>
						<th class="span2">Name</th>
						<th class='span9'>Profile</th>
					</tr>

					{% for item in list %}
						<tr>

							<td><a class="btn btn-small btn-block btn-primary" href="{{ APP_PATH }}new_message/{{ item.name }}/">{{ item.name }}</a></td>
							<td></td>
						</tr>
					{% endfor %}

				</table>

			</section>

		</div>
	</div>
{% endblock %}
