{% extends "base_bootstrap.html" %}
{% block pagetitle %}INDEX{% endblock %}
{% block title %}INDEX{% endblock %}
{% block content %}

	<section id="tables">
		<div class="page-header">
			<h1>Tables</h1>
		</div>
		<div>
			<table class="table table-bordered table-hover">
				<tr><th>name</th><th>Link</th></tr>
				{% for p in persons %}
					<tr><td>{{ p.name|upper }}</td><td><button class="btn btn-primary" type="button" onclick="document.location.href='../{{ p.id }}/'">Details</button></td></tr>
				{% endfor %}
			</table>
		</div>

	</section>

	<section id="formtest">
		<div class="page-header">
			<h1>Add User</h1>
		</div>
		<div class="table">
			<!--<legend>Form</legend>-->
            <form method='POST'>
				{% csrf_token %}
				{{ formset }}
	            <br>
				<input type='submit' class="btn btn-primary" name='Save' value='Save'/>
			</form>
		</div>
	</section>


{% endblock %}