{% extends "base_bootstrap.html" %}
{% block title %}LOGIN{% endblock %}
{% block content %}


	<div class="span10">
		<div class="container">

			<section id="login">
				<form id="loginform" method="POST">
					<div class="page-header">
						<h1>Log In</h1>
					</div>
					{% for field in formset %}
						<div class="control-group">
							{{ field.label_tag }}
							<div class="controls">
								{{ field }}
								<span class="help-inline"></span>
							</div>
						</div>
					{% endfor %}
					{% csrf_token %}
					<input type='submit' class="btn btn-primary" name='Save' value='Save'/>
				</form>
			</section>


		</div>
	</div>

	<script>
		$(document).ready(function(){
			$('#loginform').validate({
				rules: {
					"user": {
						minlength: 2,
						required: true
					},
					"password": {
						minlength: 2,
						required: true
					}
				},
				highlight: function(label) {
					$(label).closest('.control-group').removeClass('success').addClass('error');
					console.log('error');
				},
				success: function(label) {
					$(label).closest('.control-group').removeClass('error').addClass('success');
				}
			});

		});

	</script>

{% endblock %}