{% extends "base_bootstrap.html" %}
{% block title %}Matches{% endblock %}
{% block content %}

	<div class="row-fluid">
		<!-- grid of matched -->
		{% for item in list %}

			{% if forloop.counter|divisibleby:"3" %}
				<ul class="thumbnails">
			{% endif %}

				<li class="span4">
					<div class="thumbnail">
						<img src="{{ MEDIA_URL }}{{ item.img }}"/>
						<div class="caption">
							<h3>{{ item.name }}</h3>
							<p>
								Profile here
							</p>
							<p>
								<a class="btn btn-small btn-primary fancy" data-id="{{ item.id }}">Show Interest</a>
								<a class="btn btn-small btn-info" href="{{ APP_PATH }}new_message/{{ item.name }}/">Send Message</a>
							</p>
						</div>
					</div>
				</li>


			{% if forloop.counter|divisibleby:"3" %}
				</ul>
			{% endif %}

		{% endfor %}
	</div>



{% endblock %}
