{% extends "base_bootstrap.html" %}
{% block title %}MESSAGE{% endblock %}
{% block subnav %}{% include "subnav/messages.html" %}{% endblock %}
{% block content %}

	<div class="span10">
		<div class="container">

			<section id="messages">
				<div class="page-header">
					<h1>Received</h1>
				</div>

				<table class="table table-bordered table-hover">
					<legend>List</legend>
					<tr>
						<th class="span2">From</th>
						<th class='span3'>Date</th>
						<th class='span4'>Message</th>
					</tr>

					{% for item in list %}
						<tr>
							<td>
								{% if item.status == 0 %}
									<a class="btn btn-block btn-danger" href="../reply_message/{{ item.id }}/"><i class="icon-tag icon-white"></i>
									{{ item.sender }}</a>
									<i class="icon-chevron-right"></i>
									<small>{{ item.ts|date:"d/m/y P" }}</small>
								{% else %}
									<a class="btn btn-block btn-success" href="../reply_message/{{ item.id }}/"><i class="icon-tags icon-white"></i>
									{{ item.sender }}</a>
									<i class="icon-chevron-left"></i>
									<small>{{ item.replied|date:"d/m/y P" }}</small>
								{% endif %}
							</td>
							<td>{{ item.ts }}</td>
							<td>{{ item.message }}</td>
						</tr>
					{% endfor %}

				</table>

			</section>

		</div>
	</div>
{% endblock %}
