{% extends "base_bootstrap.html" %}
{% block title %}MESSAGE{% endblock %}
{% block content %}

	<div class="span3 bs-docs-sidebar">
		<ul class="nav nav-list bs-docs-sidenav affix">
			<li><a href="#new"><i class="icon-chevron-right"></i>New</a></li>
			<li><a href="#received"><i class="icon-chevron-right"></i>Messages</a></li>
		</ul>
	</div>

	<div class="span9">
		<div class="container">


			<section id="messages">
				<div class="page-header">
					<h1>Received</h1>
				</div>

				<table class="table table-bordered table-hover">
					<legend>List</legend>
					<tr><th>From</th><th>Message</th></tr>
					{% for item in list %}
						<tr><td>{{ item.sender }}</td><td>{{ item.message }}</td></tr>
					{% endfor %}
				</table>

			</section>

		</div>
	</div>
{% endblock %}
