{% extends "base_bootstrap.html" %}
{% block pagetitle %}NEW MESSAGE{% endblock %}
{% block title %}NEW MESSAGE{% endblock %}
{% block content %}

	<div class="span9">

		<div class="row-fluid">

			<div class="span6">
				<section id="message">
					<div class="page-header">
						<h2>From: {{ destination }}</h2>
					</div>
					<blockquote>
						<p class="text-success">
							{% if LEVEL > 0 %}
								<td>{{ message.message }}</td>
							{% else %}
								<td>{{ message.message|slice:":4" }} LOOSER MESSAGE??</td>
							{% endif %}
						</p>
						<small>{{ message.ts }}</small>
					</blockquote>
				</section>
			</div>


			<div class="span6">
				<section id="forms">
					<div class="page-header">
						<h2>Reply</h2>
					</div>
					<form id="insertform" method='POST' enctype="multipart/form-data">
						<!--<div class="page-header">
							<h1>Reply to:{{ destination }}</h1>
						</div>-->

						{% for field in formset %}
							<div class="control-group">
								{{ field.label_tag }}
								<div class="controls">
									{{ field }}
									<span class="help-inline"></span>
								</div>
							</div>
						{% endfor %}

						{% csrf_token %}
						<input type='submit' class="btn btn-small btn-primary" name='Save' value='Send'/>

					</form>

				</section>
			</div>

		</div>

		<div class="row">

			<section id="messages">
				<div class="page-header">
					<h1>Received</h1>
				</div>

				<table class="table table-bordered table-hover">
					<legend>List</legend>
					<tr>
						<th class="span3">From</th>
						<th>Message</th>
					</tr>

					{% for item in list %}
						<tr>
							<td>
							{% if USER.id == item.sender.id %}
								{% if item.status == 0 %}
									<a class="btn btn-small btn-block btn-danger"><i class="icon-bell icon-white"></i>Me</a>
									<i class="icon-chevron-right"></i>
									<small>{{ item.ts|date:"d/m/y P" }}</small>
								{% else %}
									<a class="btn btn-small btn-block">Me</a>
									<i class="icon-chevron-left"></i>
									<small>{{ item.replied|date:"d/m/y P" }}</small>
								{% endif %}
							{% elif item.status == 1 %}
								<a class="btn btn-small btn-block btn-success" href="../{{ item.id }}/"><i class="icon-tags icon-white"></i>
								{{ item.sender }}</a>
								<i class="icon-chevron-left"></i>
								<small>{{ item.replied|date:"d/m/y P" }}</small>
							{% else %}
								<a class="btn btn-small btn-block btn-danger" href="../{{ item.id }}/"><i class="icon-tag icon-white"></i>
								{{ item.sender }}</a>
								<i class="icon-chevron-right"></i>
								<small>{{ item.ts|date:"d/m/y P" }}</small>
							{% endif %}
							</td>

							{% if LEVEL > 0 %}
								<td>{{ item.message }}</td>
							{% else %}
								<td>{{ item.message|slice:":4" }} LOOSER MESSAGE??</td>
							{% endif %}

						</tr>
					{% endfor %}

				</table>

			</section>


		</div>
	</div>

{% endblock %}