{% extends "base_bootstrap.html" %}
{% block title %}PROFILE{% endblock %}
{% block content %}

	<div class="span10">

		<section id="forms">

			<form id="insertform" method='POST' enctype="multipart/form-data">
				<div class="page-header">
					<h1>Profile</h1>
				</div>

				<!-- FIELDS -->
				{% for field in formset %}

					{% if field.label == "Tags" %}
						<div class="control-group">
							{{ field.label_tag }}
							<div class="controls">
								<textarea name="{{ field.name }}" id="id_{{ field.name }}"></textarea>
							</div>
							<script>
								var selected = [
								{% for option in presel %}
									{id:{{ option.id }},name:'{{ option.name }}'},
								{% endfor %}
								];
							</script>
						</div>
					{% else %}
						<div class="control-group">
							{{ field.label_tag }}
							<div class="controls">
								{{ field }}
								<span class="help-inline"></span>
							</div>
						</div>
					{% endif %}
				{% endfor %}
				<!-- FIELDS -->


				{% csrf_token %}
				<input type='submit' class="btn btn-primary" name='Save' value='Save'/>

			</form>

	</div>

{% endblock %}
