{% extends "base_bootstrap.html" %}
{% block title %}PROFILE{% endblock %}
{% block content %}

	<div class="span10">

		<section id="forms">

			<form id="insertform" method='POST' enctype="multipart/form-data">
				<div class="page-header">
					<h1>Profile</h1>
				</div>

				<!-- FIELDS -->
				{% for field in formset %}

					<div class="control-group">
						{{ field.label_tag }}
						<div class="controls">
							{{ field }}
							<span class="help-inline"></span>
						</div>
					</div>

				{% endfor %}
				<!-- FIELDS -->


				{% csrf_token %}
				<input type='submit' class="btn btn-primary" name='Save' value='Save'/>

			</form>

	</div>

{% endblock %}
