{% extends "base_bootstrap.html" %}
{% block title %}SHOW{% endblock %}
{% block content %}


<div class="span9">
	<div class="container">
		<section id="formtest">
			<div class="page-header">
				<h1>Details {{ person.name }} {{ person.surname }}</h1>

			</div>

			<div class="thumbnail span2">
				<img src="{{ MEDIA_URL }}{{ person.img }}"/>
			</div>

			<div class="span5">
				<ul>
					<li>{{ person.location }}</li>
				</ul>
			</div>

			<table class="table table-bordered table-hover">
				<legend>Tags</legend>
				<tr><th>ID</th><th>Name</th></tr>
				{% for p in tags %}
			        <td>{{ p.id }}</td><td>{{ p.name }}</td>
				{% endfor %}
			</table>

			<button class="btn btn-primary" onclick="document.location.href='../index/'">Back</button>

		</section>
	</div>
</div>
{% endblock %}
