{% extends "base_bootstrap.html" %}
{% block title %}SIGNIN{% endblock %}
{% block subnav %}{% include "subnav/default.html" %}{% endblock %}
{% block content %}

	<div class="span10">
		<div class="container">

			<section id="forms">

				<form id="insertform" method='POST' enctype="multipart/form-data">
					<div class="page-header">
						<h1>Registration</h1>
					</div>

					{% for field in formset %}
						<div class="control-group">
							{{ field.label_tag }}
							<div class="controls">
								{{ field }}
								<span class="help-inline"></span>
							</div>
						</div>
					{% endfor %}

					{% csrf_token %}
					<input type='submit' class="btn btn-primary" name='Save' value='Save'/>

				</form>

		</div>
	</div>

	<script>
		$(document).ready(function(){
			$('#insertform').validate({
				rules: {
					"name": {
						minlength: 2,
						required: true
					},
					"surname": {
						minlength: 2,
						required: true
					},
					"tags": {
						required: true
					},
					"groups": {
						required: true
					}
				},
				highlight: function(label) {
					$(label).closest('.control-group').removeClass('success').addClass('error');
					console.log('error');
				},
				success: function(label) {
					$(label).closest('.control-group').removeClass('error').addClass('success');
				}
			});

		});

	</script>
{% endblock %}
